body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    gap: 10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px; 

}

.cell{
    box-sizing: border-box;
    border: 1px solid #0ce66a;
}
